@model HomeDetailViewModels
@{
    ViewBag.Title = "Employee Details";
    var imagePath = "~/images/" + (Model.Employee.PhotoPath ?? "sara.jpg");
}


<div class="row justify-content-center m-3">
    <div class="col-sm-4">
        <div class="card m-3">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" asp-append-version="true" src="@imagePath" />
                <h4>Employee Id : @Model.Employee.Id</h4>
                <h4>Email : @Model.Employee.Email</h4>
                <h4>Department : @Model.Employee.Department</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                <a asp-action="edit" asp-controller="home" asp-route-id="@Model.Employee.Id" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<form method="post" class="mt-3" asp-controller="home" asp-action="export" asp-route-id="@Model.Employee.Id">
    <input hidden asp-for="Employee.Id" />
    <input hidden asp-for="Employee.Email" />
    <input hidden asp-for="Employee.Department" />
    <input hidden asp-for="Employee.Name" />
    <input hidden asp-for="Employee.PhotoPath" />
    <input hidden asp-for="Title" />
    <div class="ml-auto">
        <button type="submit" class="btn btn-primary m-1">Export</button>
    </div>
</form>
